*.bak
.vs/
.vscode/
obj/
BikeRental.Frontend/bin/
BikeRental.Frontend/obj/
BikeRental.Api/bin/
BikeRental.Api/obj/
BikeRental.Models/bin/
BikeRental.Models/obj/
BikeRental.Services/bin/
BikeRental.Services/obj/