<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bike Rental App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bicycleslist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All bicycles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bicyclesforrent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Renting Service
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bicyclereturn">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Return Bicycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="service">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bicycle Service
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
